/***Адаптация***/
@media screen and (max-width: 2560px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 1440px;
        margin: 0 auto;
    }
    
}
@media screen and (max-width: 1440px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 1440px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1280px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 1024px;
        margin: 0 auto;
    }
    .title-h2
    {
        font-size: 30px;
    }
    .title-header
    {
        margin-left: 100px;
    }
    .nav-link
    {
        font-size: 15px;
    }
    .title-h3, .text__style, .service-text
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 1024px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 1024px;
        margin: 0 auto;
    }
    .title-h3, .text__style, .service-text
    {
        font-size: 15px;
    }
    .title-h2
    {
        font-size: 24px;
    }
    .box-about-item
    {
        font-size: 70%;
    }
    .service
    {
        display: grid;
        grid-template:1fr/1fr 1fr 1fr 1fr ;
    }
}
@media screen and (min-width: 800px) and (max-width: 835px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 800px;
        margin: 0 auto;
    }
    .header
    {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .title-header
    {
        margin: 0 auto;
    }
    .box-about-back, .box-about-front
    {
        width: 150px;
        margin: 0;
    }
    .box-about-front
    {
        margin-right: 45px;   
    }
    .text
    {
        font-size: 20px;
        margin-left: -50px;
    }
    .about-list
    {
        font-size: 20px;
        flex-direction: column;  
        align-items: center; 
    }
    .progress-bar
    {
       margin-top: 40px;
       margin-left: -100px;
    }
    .service
    {
        display: grid;
        grid-template: 2fr/1fr 1fr;
    }
    

    .portfolio-work1, .portfolio-work2, .portfolio-work3, .portfolio-work4
    {
        width: 250px;
    }
    .portfolio-thumb
    {
        padding: 10px;
    }
    .title-footer
    {
        margin-left: 50px;
        margin-right: 20px;

    }
    .title-h2
    {
        font-size: 25px;
    }
    .nav-social
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav-social-point
    {
        margin: 0 auto;
    }
    .nav-link-point
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 768px;
        margin: 0 auto;
    }
    .header
    {
        display: flex;
        align-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .title-header
    {
        margin: 0 auto;
    }
    .box-about-back, .box-about-front
    {
        width: 150px;
        margin: 0;
    }
    .box-about-front
    {
        margin-right: 45px;   
    }
    .text
    {
        font-size: 20px;
        margin-left: -50px;
    }
    .about-list
    {
        font-size: 20px;
        flex-direction: column;  
        align-items: center; 
    }
    .progress-bar
    {
       margin-top: 40px;
       margin-left: -100px;
    }
    .service
    {
        display: grid;
        grid-template: 2fr/1fr 1fr;
    }
    .portfolio-work1, .portfolio-work2, .portfolio-work3, .portfolio-work4
    {
        width: 250px;
    }
    .portfolio-thumb
    {
        padding: 10px;
    }
    .title-footer
    {
        margin-left: 50px;
        margin-right: 20px;

    }
    .title-h2
    {
        font-size: 25px;
    }
    .nav-social
    {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .nav-social-point
    {
        margin: 0 auto;
    }
    .nav-link-point
    {
        font-size: 15px;
    }
}
@media screen and (max-width: 600px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 600px;
        margin: 0 auto;
    }
    .header-logo 
    {
    width: 100px;
    }
    .title-h1
    {
        margin: 20px auto;
    }
     .box-about-front
    {
        margin-right: 0px;   
    }
}
@media screen and (min-width: 390px) and (max-width: 480px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 390px;
        margin: 0 auto;
    }
    .main
    {
        height: 550px;
    }
    .header
    {
        padding: 10px;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template:1fr/1fr;
        margin: 0 auto;
    }
    .nav
    {
        width: 370px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-item
    {
        margin: 0px 0px 0px 15px
    }
    
    .title-h1
    {
        margin: 0 auto;
        width: 370px;
    }
    .main-after
    {
        margin: 0 auto;
    }
    .text
    {
        font-size: 15px;
        margin-left: -50px;
    }
    .about
    {
        margin: 0 auto;
        width: 100%;
    }
    .about-list
    {
        font-size: 15px;
        flex-direction: column;  
        align-items: center; 
    }
     .box-about-back, .box-about-front
    {
        width: 100px;
        margin: 0;
    }
    .box-about-front
    {
        margin-bottom: 80px;
    }
    .box-about-item
    {
        max-height: 600px;
        margin: 0 auto;
    }
    .services
    {
       margin: 0 auto;
        width: 100%;
    }
    .service
    {
        display: grid;
        grid-template:1fr/1fr;
        margin-left: 0px;
    }
       .portfolio-work1, .portfolio-work2, .portfolio-work3, .portfolio-work4
    {
        width: 100%;
    }
    .portfolio-thumb
    {
        padding: 10px;
    }
    .form-request
    {
        width: 100%;
        margin: 0 auto;
    }
    .footer
    {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    }
    .title-h2 
    {
    font-size: 18px;
    }
}
@media screen and (min-width: 376px) and (max-width: 389px)
{
    .main, .about, .services, .portfolio, .form-request, .contacts
    {
        max-width: 370px;
        margin: 0 auto;
    }
    .main
    {
        height: 550px;
    }
    .header
    {
        padding: 10px;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template:1fr/1fr;
        margin: 0 auto;
    }
     .header-logo 
    {
        width: 70px;
    }
    .nav
    {
        width: 350px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-item
    {
        margin: 0px 0px 0px 15px
    }
    
    .title-h1
    {
        margin: 0 auto;
        width: 390px;
    }
    .main-after
    {
        margin: 0 auto;
    }
    .text
    {
        font-size: 15px;
        margin-left: -50px;
    }
    .about
    {
        margin: 0 auto;
        width: 100%;
    }
    .about-list
    {
        font-size: 15px;
        flex-direction: column;  
        align-items: center; 
    }
     .box-about-back, .box-about-front
    {
        width: 100px;
        margin: 0;
    }
    .box-about-front
    {
        margin-bottom: 80px;
    }
    .box-about-item
    {
        max-height: 600px;
        margin: 0 auto;
    }
    .services
    {
       margin: 0 auto;
        width: 100%;
    }
    .service
    {
        display: grid;
        grid-template:1fr/1fr;
        margin-left: 0px;
    }
       .portfolio-work1, .portfolio-work2, .portfolio-work3, .portfolio-work4
    {
        width: 100%;
    }
    .portfolio-thumb
    {
        padding: 10px;
    }
    .form-request
    {
        width: 100%;
        margin: 0 auto;
    }
    .footer
    {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 20px;
    }
    .title-h2 
    {
    font-size: 18px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) 
{
     .main, .about, .services, .portfolio, .form-request, .contacts, 
    {
        max-width: 320px;
        margin: 0 auto;
        width: 100%;
    }
    .main
    {
        height: 350px;
        padding-bottom: 100px;
    }
    .header
    {
       margin-bottom: 30px;
    }
    .title-h1
    {
        font-size: 40px;
        margin-left: 0;
        width: 300px;
    }
    .title-h2
    {
        font-size: 15px;
    }
    .header-logo 
    {
        width: 70px;
    }
    .nav
    {
        width: 300px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-link
    {
        font-size: 10px;
    }
    .main-after 
    {
        margin-top: 20px;
        height: 100px;
    }
    .title-h4 
    {
    font-size: 15px;    
    }
    .text {
    font-size: 12px;
    margin-left: 10px;
    }
     .service
    {
        display: grid;
        grid-template:1fr/1fr;
        margin-left: 0px;
    }
    .service-items 
    {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    }
    .portfolio-list 
    {
    display: grid;
    grid-template: 1fr /1fr;
    }
    iframe
    {
        height: 300px;
    }
    .title-footer
    {
        margin: 0 auto;

    }
    .footer
    {
        padding: 0px;
    }
    .footer-nav 
    {
        padding-top: 20px;
    }
    .nav-social {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
         }
    .nav-link-point 
    {
         font-size: 10px;
    }
    .nav-copyright 
    {
          font-size: 7px;
    }
}

@media screen and (max-width: 320px)
{
     .main, .about, .services, .portfolio, .form-request, .contacts, 
    {
        max-width: 300px;
        margin: 0 auto;
        width: 100%;
    }
    .main
    {
        height: 350px;
        padding-bottom: 100px;
    }
    .header
    {
       margin-bottom: 30px;
    }
    .title-h1
    {
        font-size: 40px;
        margin-left: 0;
        width: 300px;
    }
    .title-h2
    {
        font-size: 15px;
    }
    .header-logo 
    {
        width: 70px;
    }
    .nav
    {
        margin: 0 auto;
        justify-content: space-between;
    }
    .nav-link
    {
        font-size: 10px;
    }
    .main-after 
    {
        margin-top: 20px;
        height: 100px;
    }
    .title-h4 
    {
    font-size: 15px;    
    }
    .text {
    font-size: 12px;
    margin-left: 10px;
    }
     .service
    {
        display: grid;
        grid-template:1fr/1fr;
        margin-left: 0px;
    }
    .service-items 
    {
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .portfolio-list {
    display: grid;
    grid-template: 1fr /1fr;
    }
    iframe
    {
        height: 300px;
    }
    .title-footer
    {
        margin: 0 auto;
    }
    .footer
    {
        padding: 0px;
    }
    .footer-nav 
        {
        padding-top: 20px;
        }
    .nav-social 
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .nav-link-point 
    {
    font-size: 10px;
    }
    .nav-copyright 
    {
    font-size: 7px;
    }

}
